body{
  font-family: Lato;
}
.container{
  width:1170px; margin: 0 auto
}
ul {display: flex; flex-wrap: wrap; justify-content: space-between}
li{width:30%; border: 2px solid #CCC; list-style-type: none; margin-bottom: 20px}
h1{text-align: center; font-size: 36px}
h2{padding: 2% 5%; color: blue; font-size: 18px; min-height: 65px}
p{padding: 2% 5%;}
img {width:100%;}
a{display: block; text-align: center; margin-top: 20px; text-decoration: none; border: 1px solid blue;
padding: 10px; border-radius: 5px}